.chat_row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  padding-right: 0 !important;
}

.chat_reverse {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 0 !important;
}
